<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
  <!--  <title>{% block title %}My amazing site{% endblock %}</title> -->
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
        {% endblock %}
    </div>
     <p>以下、Form </p>
    <div>
     <form action="/post/" method="post">
      <label for="post_artivle">投稿内容: </label>
      <input id="post_article" type="text" name="{{ form }}">
      <input type="submit" value="OK">
     </form>
    </div>

    <div id="content">
       <!-- {% block content %}{% endblock %} -->
    </div>
</body>
</html>
